


/* Start All Slider */

#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
	left:0;
	height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
	font-size:50px;
	margin-bottom:15px;
	color:#FFF;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1; 
    /* background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover;  */ 
}
.backgroundCustom{
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    background-color: #3c005b;
    background: -webkit-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
    background: -moz-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
    background: -ie-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
}
.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
/* End All Slider */










/* Start Home Services */

/* Start offers-tabcontent */
/* start Tabs */
a.active {
    border-bottom: 2px solid #55c57a
}

.nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500
}

.nav-link:hover {
    color: #55c57a
}

.nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600
}
/* End Tabs */


.offers-tabcontent {
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    max-width: 1120px;
    max-height: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .03);
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, .03);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .03);
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

@media screen and (max-width:1023px) {
    .offers-tabcontent {
        max-width: 602px;
    }
}

@media screen and (max-width:659px) {
    .offers-tabcontent {
        max-width: 300px;
    }
}

.offers-tabcontent.active {
    max-height: none;
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.offers-tabcontent .tabcontent-item {
    padding: 30px 20px 0 0;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.3333%;
    flex: 0 1 33.3333%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 372px;
    min-width: 300px;
    min-height: 190px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.offers-tabcontent .tabcontent-item:not(:nth-child(n+4)) {
    margin-bottom: 2px;
}

.offers-tabcontent .tabcontent-item:first-child {
    border-top-left-radius: 7px;
}

.offers-tabcontent .tabcontent-item:last-child {
    border-bottom-right-radius: 7px;
}

.offers-tabcontent .tabcontent-item:nth-child(3) {
    border-top-right-radius: 7px;
}

.offers-tabcontent .tabcontent-item:nth-child(4) {
    border-bottom-left-radius: 7px;
}

@media screen and (max-width:1023px) {
    .offers-tabcontent .tabcontent-item {
        padding-top: 25px;
    }

    .offers-tabcontent .tabcontent-item:not(:nth-child(n+5)) {
        margin-bottom: 2px;
    }

    .offers-tabcontent .tabcontent-item:nth-child(5) {
        border-bottom-left-radius: 7px;
    }

    .offers-tabcontent .tabcontent-item:nth-child(2) {
        border-top-right-radius: 7px;
    }

    .offers-tabcontent .tabcontent-item:nth-child(3) {
        border-top-right-radius: 0;
    }

    .offers-tabcontent .tabcontent-item:nth-child(4) {
        border-bottom-left-radius: 0;
    }

    .offers-tabcontent .tabcontent-item:nth-child(odd) {
        margin-right: 2px;
    }
}

@media screen and (max-width:767px) {
    .offers-tabcontent .tabcontent-item {
        padding-top: 20px;
    }

    .offers-tabcontent .tabcontent-item:nth-child(odd) {
        margin-right: 2px;
    }

    .offers-tabcontent .tabcontent-item:not(:nth-child(n+5)) {
        margin-bottom: 2px;
    }
}

@media screen and (max-width:659px) {
    .offers-tabcontent .tabcontent-item:nth-child(odd) {
        margin-right: 0;
    }

    .offers-tabcontent .tabcontent-item:not(:last-child) {
        margin-bottom: 2px;
    }

    .offers-tabcontent .tabcontent-item:first-child {
        border-top-right-radius: 7px;
    }

    .offers-tabcontent .tabcontent-item:last-child {
        border-bottom-left-radius: 7px;
    }

    .offers-tabcontent .tabcontent-item:nth-child(5) {
        border-bottom-left-radius: 0;
    }

    .offers-tabcontent .tabcontent-item:nth-child(2) {
        border-top-right-radius: 0;
    }
}

.offers-tabcontent .tabcontent-item .offer-image {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding-left: 10px;
}

.offers-tabcontent .tabcontent-item .offer-image g>path {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.offers-tabcontent .tabcontent-item .offer-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
    max-width: 260px;
    padding-left: 3px;
}

.offers-tabcontent .tabcontent-item .offer-content-title {
    max-width: 260px;
    margin-bottom: 13px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #323232;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

@media screen and (max-width:767px) {
    .offers-tabcontent .tabcontent-item .offer-content-title {
        font-size: 14px;
        max-width: 180px;
    }
}

.offers-tabcontent .tabcontent-item .offer-content-description {
    margin: 0 0 12px;
    font-size: 13.5px;
    line-height: 1.43;
    text-align: left;
    color: rgba(50, 50, 50, .8);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

@media screen and (max-width:1023px) {
    .offers-tabcontent .tabcontent-item .offer-content-description {
        font-size: 13px;
    }
}

@media screen and (max-width:767px) {
    .offers-tabcontent .tabcontent-item .offer-content-description {
        font-size: 13px;
        max-width: 180px;
    }
}

.offers-tabcontent .tabcontent-item .offer-content-link-more {
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.offers-tabcontent .tabcontent-item .offer-content-link-more i {
    font-size: 11px;
    margin-left: -3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.offers-tabcontent .tabcontent-item:hover {
    background-color: rgba(20, 118, 242, .8);
}

.offers-tabcontent .tabcontent-item:hover .offer-content-title {
    color: #fff;
}

.offers-tabcontent .tabcontent-item:hover .offer-content-description {
    color: hsla(0, 0%, 100%, .85);
}

.offers-tabcontent .tabcontent-item:hover .offer-content-link-more {
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.offers-tabcontent .tabcontent-item:hover .offer-content-link-more i {
    margin-left: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.offers-tabcontent .tabcontent-item:hover .offer-image {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.offers-tabcontent .tabcontent-item:hover .offer-image g>path,
.offers-tabcontent .tabcontent-item:hover .offer-image g>polygon,
.offers-tabcontent .tabcontent-item:hover .offer-image g>polyline {
    stroke: hsla(0, 0%, 100%, .3);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

@media screen and (max-width:767px) {
    .offices .container {
        padding: 0;
    }
}

.offices__title {
    padding-top: 40px;
    padding-bottom: 40px;
}

.offices__title h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: .94;
    text-align: center;
    color: #323232;
}

.offices__title p {
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #555;
}

.offices-slider {
    position: relative;
    display: block !important;
    height: 360px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #f6f6f6;
}

.offices-slider .offices-slider__item {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 360px;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    overflow: hidden;
}

.offices-slider .offices-slider__item:hover .offices-slider__content .offices-slider__overlay {
    opacity: 1;
}

.offices-slider .offices-slider__item:hover .offices-slider__content .offices-slider__text {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.offices-slider .offices-slider__item:hover .offices-slider__content .offices-slider__text .offices-slider__address {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.offices-slider .offices-slider__item .offices-slider__content {
    padding: 15px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .45)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .45));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .45));
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

@media screen and (max-width:1023px) {
    .offices-slider .offices-slider__item .offices-slider__content {
        padding: 15px;
    }
}

@media screen and (max-width:767px) {
    .offices-slider .offices-slider__item .offices-slider__content {
        padding: 30px;
        max-width: 100%
    }
}

@media screen and (min-width:1600px) {
    .offices-slider .offices-slider__item .offices-slider__content {
        padding: 0;
    }
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__overlay {
    opacity: 0;
    background-color: rgba(20, 118, 242, .8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: -1;
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 38%;
    flex: 0 1 38%;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%);
    transform: translateY(70%);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text .offices-slider__city {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text .offices-slider__address {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear .5s, opacity .8s linear;
    transition: visibility 0s linear .5s, opacity .8s linear;
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text .offices-slider__address p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text .offices-slider__address p a {
    color: #fff;
}

.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text .offices-slider__address p a:hover {
    text-decoration: underline;
}

.offices-slider .owl-next,
.offices-slider .owl-prev {
    font-size: 0;
    position: absolute;
    background: hsla(0, 0%, 100%, 0) url(resources\assets\images\arrow-left-dark.svg) no-repeat 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 80px;
    width: 40px;
}

.offices-slider .owl-next.disabled,
.offices-slider .owl-prev.disabled {
    display: none;
}

.offices-slider .owl-prev {
    left: 8px;
}

.offices-slider .owl-prev:hover {
    background: hsla(0, 0%, 100%, .06) url(resources\assets\images\arrow-right-light.svg) no-repeat 50%
}

.offices-slider .owl-next,
.offices-slider .owl-prev:hover {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.offices-slider .owl-next {
    right: 8px;
}

.offices-slider .owl-next:hover {
    background: hsla(0, 0%, 100%, .06) url(resources\assets\images\arrow-right-light.svg) no-repeat 50%;
    -webkit-transform: translateY(-50%) rotate(1turn);
    -ms-transform: translateY(-50%) rotate(1turn);
    transform: translateY(-50%) rotate(1turn);
}
/* End Start offers-tabcontent */



/* 
.flip {
    position: relative;
  }
  .flip > .front,
  .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
  }
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  .flip:hover > .front {
    transform: rotateY(180deg);
  }
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
  }
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
  }
  
  .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 294px;
  }
  .flip > .front,
  .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 158px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
  }
  .flip > .front p,
  .flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
  }
  
  .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
  } */

  /* END  Home Services */




/* .service-why {
    padding-top: 80px;
} */
.service-why .service-why__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    z-index: 2;
    position: relative;
}
.service-why .service-why__title--team-extension {
    max-width: 540px;
    margin: 0 auto 18px;
    color: #323232;
}
.service-why .service-why__description {
    padding: 0 15px;
    margin: 0 auto 19px;
    max-width: 800px;
    text-align: center;
    font-size: 15px;
    line-height: 1.67;
    color: #555;
}
.service-why .service-why__points {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.service-why .service-why__title-bg {
    position: absolute;
    z-index: 1;
    font-size: 120px;
    opacity: .03;
    color: #323232;
    width: 100%;
    max-width: 725px;
    left: 0;
    right: 0;
    margin: auto;
    top: -60px;
    line-height: .83;
    overflow: hidden;
}
.service-why .service-why__point-block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 630px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
}

@media (min-width:1025px) {
    .service-why .service-why__point-block {
    -webkit-transition: all .6s;
    transition: all .6s;
}
}.service-why .service-why__point-block:hover .service-why__mask {
    background: rgba(20, 118, 242, .8);
}
@media screen and (max-width:1024px) {
    .service-why .service-why__point-block:hover .service-why__mask {
    background: rgba(50, 50, 50, .5);
}
}
.service-why .service-why__point-block:hover .service-why__point-lead-content {
    width: 100%;
    max-height: 150px;
}
@media screen and (max-width:1024px) {
    .service-why .service-why__point-block:hover .service-why__point-lead-content {
    max-height: 400px;
}
}@media screen and (max-width:425px) {
    .service-why .service-why__point-block:hover .service-why__point-lead-content {
    max-height: none;
}
}.service-why .service-why__point-block:hover .service-why__point-lead {
    margin-top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
@media (min-width:1025px) {
    .service-why .service-why__point-block:hover .service-why__point-lead {
    -webkit-transition: all .6s cubic-bezier(0, .62, .5, .99);
    transition: all .6s cubic-bezier(0, .62, .5, .99);
}
}
@media screen and (max-width:1024px) {
    .service-why .service-why__point-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 140px;
}
.service-why .service-why__point-block--no {
    padding-top: 100px;
}
}@media screen and (max-width:768px) {
    .service-why .service-why__point-block {
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: 400px;
}
}@media screen and (max-width:425px) {
    .service-why .service-why__point-block {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: 340px;
}
}.service-why .service-why__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, .5);
    z-index: 1;
}
@media (min-width:1025px) {
    .service-why .service-why__mask {
    -webkit-transition: all .3s;
    transition: all .3s;
}
}.service-why .service-why__point-lead {
    z-index: 5;
    word-wrap: break-word;
    padding: 0 30px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    line-height: 1.45;
}
@media (min-width:650px) {
    .service-why .service-why__point-lead {
    line-height: 1.5;
}
}@media (min-width:1025px) {
    .service-why .service-why__point-lead {
    -webkit-transition: all .6s cubic-bezier(0, .62, .5, .99);
    transition: all .6s cubic-bezier(0, .62, .5, .99);
}
}@media screen and (max-width:1024px) {
    .service-why .service-why__point-lead {
    padding: 0 10px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
}.service-why .service-why__point-lead-content {
    max-height: 0;
    z-index: 5;
}
@media (min-width:1025px) {
    .service-why .service-why__point-lead-content {
    -webkit-transition: all .6s;
    transition: all .6s;
}
}@media screen and (max-width:1025px) {
    .service-why .service-why__point-lead-content {
    max-height: none;
}
}.service-why .service-why__point-title {
    width: 95%;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 20px;
}
@media (min-width:1025px) {
    .service-why .service-why__point-title {
    -webkit-transition: all .6s cubic-bezier(0, .62, .5, .99);
    transition: all .6s cubic-bezier(0, .62, .5, .99);
}
}@media (min-width:360px) {
    .service-why .service-why__point-title {
    font-size: 24px;
}
}@media (min-width:1200px) {
    .service-why .service-why__point-title--no {
    font-size: 18px;
}
}@media (min-width:1025px) and (max-width:1200px) {
    .service-why .service-why__point-title--no {
    font-size: 17px;
}
}@media (min-width:768px) and (max-width:1024px) {
    .service-why .service-why__point-title--no {
    font-size: 16px;
}
}@media (min-width:360px) and (max-width:768px) {
    .service-why .service-why__point-title--no {
    font-size: 24px;
}
}














/* Start Mobile Services */
.bg_gray {
    background: #f0f0f0;
}

.bg_gray p {
    color: #545454;
}

.m-auto {
    float: none;
    margin: 0 auto;
}

.box_white1 img {
    width: auto;
    text-align: center;
    height: 50px;
}

.box_white1 {
    vertical-align: middle;
    border-radius: 5px;
    float: left;
    background: #fff;
    width: 21%;
    margin: 15px;
    text-align: center;
    padding: 4% 20px;
    font-weight: 500;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    border-bottom: 5px solid #fff;
}

.img_text .slideInRight img {
    width: inherit;
    margin-top: 80px;
}


.box_white1:hover {
    border-bottom: 5px solid #ff9f3d;
}



/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}








.no-padding {
    padding: 0px !important;
}
.pull-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-align: left;
    z-index: 99999;
    position: relative;
}
.text p {
    color: #363636;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 30px !important;
    text-align: justify;
}
/* .item-1, .item-2, .item-3, p {
    font-size: 13px;
    font-weight: 400 !important;
    margin: 20px auto !important;
    color: #fff;
} */
.coloumwise {
    padding: 0px;
    list-style: none;
}
.coloumwise li {
    color: #ff952c;
    font-size: 14px;
    display: inline-block;
    width: 45%;
    box-shadow: 1px 2px 5px #00000012;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 22px;
}

/* End Mobile Services  */

/* Start Services  */

.design-services {
    /* padding: 90px 0; */
    background-color: #fff;
}
@media screen and (max-width:767px) {
    .design-services {
    padding: 0;
}
}.design-services .design-service-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 27px;
    line-height: 0.25;
    font-weight: 600;
    text-transform: uppercase;
    color: #323232;
}
@media (max-width:768px) {
    .design-services .design-service-title {
    margin-bottom: 30px;
}
}.design-services .design-items {
    list-style-type: none;
    text-align: center;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width:768px) {
    .design-services .design-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -12px;
}
}@media (max-width:901px) {
    .design-services .design-items--no {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
}.design-services .design-items .design-item {
    width: 100%}
@media (max-width:768px) {
    .design-services .design-items .design-item {
    margin-bottom: 25px;
    -webkit-box-flex: 50%;
    -ms-flex: 50% 0 0px;
    flex: 50% 0 0;
}
}.design-services .design-items .design-item:last-child {
    margin-bottom: 0;
}
.design-services .design-items .design-item .design-icon {
    margin-bottom: 25px;
    height: 70px;
}
@media (max-width:768px) {
    .design-services .design-items .design-item .design-icon {
    margin-bottom: 12px;
}
}.design-services .design-items .design-item .design-icon img {
    display: inline-block;
}
.design-services .design-items .design-title {
    padding: 0 22px;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #323232;
    text-align: center;
}
@media (max-width:768px) {
    .design-services .container {
    width: 100%}
}
/* dfghjkl;' */
.custom_featured_services.featured-item.style-2 {
    margin-bottom: 30px;
    height: 256px !important;
}
.featured-item.style-2 {
    background: #fff;
    /* padding: 60px 30px; */
}

.featured-item {
    padding: 16px 14px;
    position: relative;
}
.featured-item .featured-icon {
    display: inline-block;
}
.img-center {
    display: inline-block!important;
    max-width: 100%;
}
.featured-title h5 {
    margin: 12px 0 11px;
    text-transform: capitalize;
}
h5 {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 26px;
    color: #1c2045;
}

#header-wrap.fixed-header, #ht-main-nav, .accordion .card-header, .active.center .cases-item, .box-shadow, .boxed-view, .btn, .cases-item:hover, .dropdown>.dropdown-menu, .featured-item.style-2, .featured-item.style-4 .featured-icon i, .featured-item.style-4.active, .featured-item.style-4:after, .featured-item.style-4:before, .featured-item.style-4:hover, .featured-item:hover, .form-control, .info-inner, .media-holder .media, .post, .post-author-img, .post.style-2 .post-desc, .price-table, .search-input, .tab .nav-tabs .nav-link, .tab.style-2 .tab-content, .team-member.active .team-description, .team-member.active .team-social-icon, .team-member:hover .team-description, .team-member:hover .team-social-icon, .testimonial .testimonial-img img, .testimonial .testimonial-quote, .work-process.style-2 .step-num {
    -webkit-box-shadow: 0 15px 35px rgba(0,0,0,.1);
    -moz-box-shadow: 0 15px 35px rgba(0,0,0,.1);
    box-shadow: 0 15px 35px rgba(0,0,0,.1);
}
.featured-item:hover {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
}

.animatedBackground, .btn, .cases-description, .cases-item, .dropdown-item, .featured-icon, .featured-item, .featured-item .featured-icon i, .navbar-nav .nav-link:before, .owl-item, .portfolio-filter button, .portfolio-item:after, .portfolio-item:before, .post .post-desc, .price-table, .sidebar-links li a, .team-description, a, button, i, img, span {
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
} 




    /* Start All Services hover */

    .vi-page-wrapper {
        color: #262626;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .vi-page-wrapper {
        margin: 0 auto;
    }

    .vi-container {
        max-width: 990px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .vi-page-wrapper .services-section {
        background-color: #f9f9f9;
        padding: 50px 0 38px;
        text-align: center;
    }

    .vi-page-wrapper .services-section h1 {
        color: #323232;
        font-size: 41px;
        font-weight: normal;
        line-height: 1;
    }

    .vi-page-wrapper .services-section p {
        color: #666666;
        font-size: 14px;
        line-height: 1.3;
        margin: 0 auto 20px;
        max-width: 700px;
    }

    .vi-clear-fix:after {
        content: "";
        display: block;
        float: none;
        clear: both;
    }

    .vi-page-wrapper .services-section ul {
        margin: 22px -10px 0;
        padding: 0;
    }

    .vi-page-wrapper .services-section ul li {
        float: left;
        list-style: outside none none;
        padding: 10px;
        width: 12.5%;
    }

    .vi-page-wrapper .services-section ul li a {
        color: #666666;
        display: block;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
    }

    .vi-page-wrapper .services-section ul li a:hover {
        color: #e33b23;
    }

    .vi-page-wrapper .services-section img {
        display: inline-block;
        max-width: 100%;
        margin: 0 0 10px;
    }

    .vi-page-wrapper .services-section img:hover {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transition: all 1 ease 0s;
        -moz-transition: all 1 ease 0s;
        transition: all 1 ease 0s;
    }

    .vi-page-wrapper .services-section li span {
        display: block;
    }

    .vi-page-wrapper .section-gaping {
        padding: 50px 0;
    }

    /*****.vi-page-wrapper .section-gaping .to-left {
    float: left;
  }
  .vi-page-wrapper .section-gaping .to-right {
    float: right;
   }******/

    .vi-page-wrapper .section-gaping .common-box.leftspace {
        padding-left: 45px;
    }

    .vi-page-wrapper .section-gaping .common-box {
        width: 50%;
        margin: 0px -1px;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .vi-page-wrapper .common-box h2 {
        color: #e33b23;
        font-size: 22px;
        font-weight: normal;
        margin: 0 0 10px;
    }

    .vi-page-wrapper .common-box p {
        color: #262626;
        font-size: 14px;
        line-height: 1.6;
        margin: 0 0 20px;
    }

    .vi-page-wrapper .common-box a {
        background-color: #da251c;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 3px;
        color: #ffffff;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        min-width: 170px;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 23px;
    }

    .vi-page-wrapper .common-box a:hover {
        background-color: rgba(0, 0, 0, 0);
        color: #da251c;
        border: 1px solid #da251c;
        transition: all 0.5s ease 0s;
    }

    .services-section ul li img {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
    }

    .services-section ul li img:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }

    .section-gaping:nth-child(2n+1) {
        background: #fcfcfc;
    }

    .common-box.to-right.leftspace.f-none {
        display: none;
    }

    .vi-page-wrapper .section-gaping .common-box.to-left {
        max-width: 440px;
    }

    .vi-page-wrapper .section-gaping .common-box.text-width {
        max-width: 440px;
    }

    .vi-page-wrapper .section-gaping .common-box.img-width {
        max-width: 495px;
    }

    .vi-page-wrapper .section-gaping .common-box.img-width.graphic-space {
        text-align: right;
    }

    .seoportfoliosec>h2 {
        text-align: center;
        color: red;
        font-size: 32px;
    }

    .node-blog li.blog_usernames_blog.last {
        display: none;
    }

    @media only screen and (max-width: 1199px) {
        .vi-container {
            max-width: 920px;
        }

        .vi-page-wrapper .common-box a {
            margin-top: 15px;
        }

        .vi-page-wrapper .section-gaping .common-box {
            width: 46%;
        }

        .vi-page-wrapper .services-section ul li {
            width: 9.9%;
        }

        .page-node-145 .text_wrap_style h4 {
            font-size: 15px;
        }

        .page-node-145 .text_wrap_style {
            padding: 10px 20px 10px 10px;
        }

        .page-node-145 .text_wrap_style p {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 1024px) {

        .page-node-145 .why-choose-mern-list .list-items-choose,
        .page-node-145 .why-choose-mern-list .img-outer-wrap {
            width: 50%;
        }
    }

    @media only screen and (max-width: 991px) {
        body .cont-add ul li {
            width: 100%;
        }

        body .cont-add .inner-box {
            border-right: 0;
            border-bottom: 1px solid #ccc;
        }

        .page-node-145 .main-content-row {
            margin: 140px -8px 0;
        }

        body .cont-add ul li:last-child .inner-box {
            border: 0;
            padding-left: 0;
            margin-bottom: 30px;
        }

        .vi-page-wrapper .section-gaping .common-box {
            width: 46%;
        }

        .vi-page-wrapper .common-box a {
            margin-top: 10px;
        }

        .vi-container {
            max-width: 720px;
        }

        .vi-page-wrapper .services-section ul li {
            margin: 5px 0;
            width: 25%;
        }

        .vi-page-wrapper .services-section ul li a {
            font-size: 11px;
        }

        .vi-page-wrapper .services-section h1 {
            font-size: 30px;
            margin: 13px 0;
        }

        .vi-page-wrapper .services-section p {
            font-size: 13px;
        }

        .vi-page-wrapper .services-section {
            padding: 60px 0 30px;
        }

        .vi-page-wrapper .common-box h2 {
            font-size: 18px;
        }

        .vi-page-wrapper .common-box p {
            font-size: 13px;
        }

        .vi-page-wrapper .common-box a {
            font-size: 12px;
            min-width: 145px;
            padding: 12px 22px;
        }

        .vi-page-wrapper .section-gaping {
            padding: 45px 0;
        }

        .mern-description.ui-ux ul li {
            width: 33.33% !important;
            transform: none !important;
            padding: 25px 0;
            position: relative !important;
            left: 0 !important;
        }

        .mern-description.ui-ux ul {
            height: auto;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-wrap: wrap;
        }

        .middle-image img {
            margin: 0;
        }

        .mern-description.our-ui-ux {
            padding: 30px 0;
        }

        .custom-hover {
            width: 210px;
            height: 210px;
        }

        .mern-gird.ui-ux-align-bottom {
            align-items: center;
        }
    }

    @media only screen and (max-width: 767px) {
        .vi-container {
            max-width: 100%;
            padding: 0 15px;
        }

        .cont-add h4 a.email-vk {
            width: 100%;
        }

        .mern-description.ui-ux ul li {
            width: 50% !important;
        }

        .page-node-145 .why-choose-mern-list .list-items-choose,
        .page-node-145 .why-choose-mern-list .img-outer-wrap {
            width: 100%;
        }

        .page-node-145 .img-outer-wrap.aos-init.order-2 {
            order: 1;
        }
    }

    @media only screen and (max-width: 678px) {

        .cont-add h4,
        .cont-add h4 a {
            font-size: 9px;
        }
    }

    @media only screen and (max-width: 640px) {
        .vi-page-wrapper .common-box a {
            margin-top: 3px;
        }

        .common-box.to-right.leftspace.f-none {
            display: block;
        }

        .common-box.to-right.leftspace.f-show {
            display: none;
        }

        .vi-page-wrapper .services-section ul {
            text-align: center;
        }

        .vi-page-wrapper .section-gaping .common-box.to-left {
            margin-top: 20px;
        }

        .vi-page-wrapper .services-section ul li {
            width: 33.3%;
            min-height: 146px;
            display: inline-block;
            float: none;
            margin: 0px -2px;
        }

        .vi-page-wrapper .section-gaping .common-box {
            width: 100%;
        }

        .vi-page-wrapper .section-gaping .common-box.leftspace {
            padding-left: 0;
        }

        .common-box.to-left img {
            display: block;
            margin: 0 auto;
        }

        .common-box.to-right.leftspace img {
            display: block;
            margin: 0 auto;
        }

        .common-box.to-right {
            margin-top: 15px;
        }

        .mern-description.ui-ux ul li {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 480px) {
        .vi-page-wrapper .services-section h1 {
            font-size: 23px;
            margin: 9px 0;
        }

        .vi-page-wrapper .services-section ul li {
            width: 50%;
        }

        .mern-gird.ui-ux-align-bottom {
            flex-direction: column;
        }

        .mern-gird.ui-ux-align-bottom .img-part {
            padding: 20px 0 0;
        }

        .mern-gird.ui-ux-align-bottom .img-part img {
            max-width: 310px !important;
        }
    }

    .common-box.to-right.leftspace.text-width br {
        display: none;
    }

    .common-box.to-left.text-width br {
        display: none;
    }

    /* End All Services hover */
/* End Services */


/* Start Web Application Services */
.text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-align: left;
    z-index: 99999;
    position: relative;
}
	.text h6 {
    width: 100%;
    margin: 0px;
    font-size: 16px;
    color: #ff6700;
    text-transform: uppercase;
}
.text h3 {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    line-height: 36px;
    color: #520881;
    margin: 8px 0px;
}
.text p {
    color: #363636;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 30px !important;
    text-align: justify;
}
.clearfix {
    float: none;
    clear: both;
}
/* End Web Application Services */



@media only screen and (max-width:1024px) {
    .enterprise-core-mob {
    position: relative;
    padding-bottom: 40px;
    width: 100%}
.enterprise-core-mob * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.enterprise-core-mob #particles {
    height: 2920px;
}
.enterprise-core-mob .tech-container {
    margin: 60px auto;
    width: 276px;
    border: 1px solid #aac7ed;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}
.enterprise-core-mob .tech-item {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
}
.enterprise-core-mob .tech-item.main {
    margin-top: 0;
    padding-top: 32px;
    min-height: 140px;
    border: 1px solid #1476f2;
    background-color: #1476f2;
}
.enterprise-core-mob .tech-item.main, .enterprise-core-mob .tech-item.main .read-more-wrap {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.enterprise-core-mob .tech-item.main .tech-triangle {
    position: absolute;
    left: -2px;
    bottom: -41px;
}
.enterprise-core-mob .tech-item.main .tech-triangle.up {
    top: -41px;
}
.enterprise-core-mob .tech-item.main h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}
.enterprise-core-mob .tech-item.main p {
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}
.enterprise-core-mob .tech-item.main label.main {
    color: #fff;
    z-index: 1;
}
.enterprise-core-mob .tech-item.main label.main:before {
    bottom: -87px;
}
.enterprise-core-mob .tech-item.main label.main:after {
    bottom: -92px;
    border-color: #fff;
}
.enterprise-core-mob .tech-item.main .bg-cube {
    position: absolute;
    height: 180px;
    width: 180px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/about-page/cube.png);
}
.enterprise-core-mob .tech-item img {
    margin: 0 auto;
    width: 85px;
}
.enterprise-core-mob .tech-item h3 {
    font-size: 16px;
    text-align: center;
}
.enterprise-core-mob .tech-item p {
    font-size: 0;
    opacity: 0;
    max-height: 0;
}
.enterprise-core-mob .tech-item .item-list {
    display: block;
    margin: 0 auto;
    padding: 10px 0 5px 24px;
    width: 180px;
    list-style-type: none;
    pointer-events: none;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.enterprise-core-mob .tech-item .item-list li {
    font-size: 14px;
    line-height: 1.43;
    color: #323232;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.enterprise-core-mob .tech-item .item-list li:not(:last-child):before {
    content: "";
    display: inline-block;
    margin-left: -16px;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    background-color: #1476f2;
}
.enterprise-core-mob .tech-item .item-list li a {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    padding: 0;
    margin-top: 15px;
    font-weight: 600;
    line-height: 1.88;
    color: #1476f2;
    text-transform: uppercase;
    bottom: 5px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: auto;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.enterprise-core-mob .tech-item .item-list li a i {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    margin-left: 8px;
    line-height: 2;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.enterprise-core-mob .tech-item .read-more-state {
    display: none;
}
.enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap {
    padding-bottom: 28px;
}
.enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap li, .enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap p {
    opacity: 1;
    font-size: inherit;
    max-height: 290px;
}
.enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap li a, .enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap p a {
    opacity: 1;
    font-size: 16px;
    max-height: 290px;
}
.enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap li a i, .enterprise-core-mob .tech-item .read-more-state:checked~.read-more-wrap p a i {
    max-height: 290px;
    opacity: 1;
    font-size: 11px;
}
.enterprise-core-mob .tech-item .read-more-state~.read-more-trigger:before {
    content: "See more";
    position: absolute;
    width: 72px;
    bottom: -18px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
.enterprise-core-mob .tech-item .read-more-state:checked~.bg-cube {
    background-image: none;
}
.enterprise-core-mob .tech-item .read-more-state:checked~.read-more-trigger:before {
    content: "Close";
    bottom: -30px;
}
.enterprise-core-mob .tech-item .read-more-state:checked~.read-more-trigger:after {
    bottom: -1px;
    -webkit-transform: translateX(-50%) rotate(135deg);
    -ms-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
}
.enterprise-core-mob .tech-item .read-more-trigger {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 72px;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    color: #323232;
    cursor: pointer;
}
.enterprise-core-mob .tech-item .read-more-trigger:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -23px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #323232;
    border-left: 1px solid #323232;
}
.enterprise-core-mob .tech-item .tech-triangle {
    position: absolute;
    left: -1px;
    bottom: -41px;
}
.enterprise-core, .enterprise-core * {
    display: none;
}
}@media only screen and (min-width:1025px) {
    .enterprise-core-mob, .enterprise-core-mob * {
    display: none;
}
.enterprise-core {
    height: 850px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.enterprise-core * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.enterprise-core .hexa-container {
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    top: 250px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform .7s linear;
    transition: -webkit-transform .7s linear;
    transition: transform .7s linear;
    transition: transform .7s linear, -webkit-transform .7s linear;
    border-radius: 50%}
.enterprise-core .item {
    position: absolute;
    height: 67.64705%;
    width: 67.64705%;
    border-radius: 50%}
.enterprise-core .item-center {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%}
.enterprise-core .item-center .hex {
    width: 100%;
    height: 100%;
    fill: #1476f2;
}
.enterprise-core .item-top {
    top: -61%;
    right: 16%}
.enterprise-core .item-right-top {
    top: -22%;
    right: -51%}
.enterprise-core .item-left-top {
    top: -22%;
    right: 83%}
.enterprise-core .item-right-bottom {
    top: 55%;
    right: -51%}
.enterprise-core .item-left-bottom {
    top: 55%;
    right: 83%}
.enterprise-core .item .item-list {
    position: absolute;
    top: 5%;
    list-style-type: none;
    pointer-events: none;
    margin: 0;
    padding: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
    opacity: 0;
}
.enterprise-core .item .item-list li {
    font-size: 14px;
    line-height: 1.43;
    color: #323232;
}
.enterprise-core .item .item-list li:before {
    content: "";
    display: inline-block;
    margin-left: -16px;
    margin-right: 12px;
    width: 4px;
    height: 4px;
    background-color: #1476f2;
}
.enterprise-core .item .item-list-top {
    width: 300px;
    top: 10%;
    left: 140%}
.enterprise-core .item .item-list-top-right {
    width: 130px;
    top: 15%;
    left: 140%}
.enterprise-core .item .item-list-bottom-right {
    width: 160px;
    top: 15%;
    left: 140%}
.enterprise-core .item .item-list-bottom-left, .enterprise-core .item .item-list-top-left {
    width: 170px;
    top: 15%;
    right: 125%}
.enterprise-core .item:hover>.hex-inner {
    width: 98%;
    height: 98%}
.enterprise-core .item:hover h3 a {
    color: #1476f2;
}
.enterprise-core .item:hover h3 a i {
    right: -24px;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    opacity: 1;
}
.enterprise-core .item:hover .item-list {
    opacity: 1;
}
.enterprise-core .item:hover .item-list-bottom-right, .enterprise-core .item:hover .item-list-top, .enterprise-core .item:hover .item-list-top-right {
    left: 120%}
.enterprise-core .item:hover .item-list-bottom-left, .enterprise-core .item:hover .item-list-top-left {
    right: 105%}
.enterprise-core .hex {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    fill: #fff;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.enterprise-core .hex-outer {
    width: 100%;
    height: 100%}
.enterprise-core .hex-media {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 38%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%}
.enterprise-core .hex-media-center {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-image: url(img/about-page/cube.png);
}
.enterprise-core .hex-media-center figcaption {
    width: 240px;
}
.enterprise-core .hex-media-center figcaption h3 {
    width: 240px;
    position: absolute;
    top: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    -webkit-transition: none;
    transition: none;
}
.enterprise-core .hex-media-center figcaption p {
    width: 240px;
    position: absolute;
    opacity: 0;
    bottom: -180px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    text-align: center;
    color: #fff;
    pointer-events: none;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.enterprise-core .hex-media-center:hover {
    background-image: none;
}
.enterprise-core .hex-media-center:hover figcaption h3 {
    top: 60px;
    font-size: 14px;
    opacity: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.enterprise-core .hex-media-center:hover figcaption p {
    bottom: 75px;
    opacity: 1;
}
.enterprise-core img {
    margin-bottom: 10px;
    width: 100%}
.enterprise-core h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.03;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    color: #323232;
}
.enterprise-core h3 a {
    position: relative;
    color: #323232;
}
.enterprise-core h3 a i {
    position: absolute;
    width: 23px;
    top: 2px;
    right: -18px;
    font-size: 13px;
    font-weight: 600;
    color: #1476f2;
    -webkit-transition: all .25s;
    transition: all .25s;
    opacity: 0;
}
}@media only screen and (max-width:1024px) and (max-width:1024px) {
    li {
    font-size: 12px;
}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    .hexa-container {
    width: 300px;
    height: 300px;
}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    li {
    font-size: 12px;
}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    -bottom-right, -top, -top-right {
    left: 132%}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    -bottom-left, -top-left {
    right: 118%}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    -bottom-right, -top, -top-right {
    left: 112%}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    -bottom-left, -top-left {
    right: 88%}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    h3 {
    font-size: 18px;
}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    h3, p {
    font-size: 13px;
}
}@media only screen and (min-width:1025px) and (max-width:1024px) {
    i {
    top: 3px;
    font-size: 11px;
}
}